.h2 {
  font-family: 'Lato', sans-serif;
}

.materials_in_dashboard {
  display: flex;
}

.dashboard_section_card {
  background-color: rgb(223, 223, 223);
  margin: 10px;
  border: solid 1px rgb(48, 48, 48);
  border-radius: 10px;
  .titre_dashboard {
    background-color: rgb(70, 70, 70);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px 10px 0 0;
  }
}

.dashboard_section_card_inner {
  padding: 0 10px;
  overflow: scroll;
  height: 30vh;
}

.dashboard-card-materials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 10px;
  overflow: scroll;
  height: 43vh;
}

.col-sm {
  padding: 0;
}

.row {
  margin: 0;
}
