.h2 {
  font-family: "Baloo 2", sans-serif;
}

.materials_in_dashboard {
  display: flex;
}

.dashboard_section_card {
  margin: 10px;
  box-shadow: 0 0 1px rgba(0,0,0,0.2);
  background-color: rgb(250, 250, 250);
  .titre_dashboard {
    font-size: 20px;
    color:rgb(43, 42, 42);
    padding: 5px 0;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgb(206, 202, 202);
    text-transform: uppercase;
    padding-left: 20px;
    }
}

.dashboard_section_card_inner {
  padding: 0 10px;
  overflow-y: auto;
  height: 30vh;
}

.dashboard-card-materials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 10px;
  overflow-y: auto;
  height: 43vh;
}

.col-sm {
  padding: 0;
}

.row {
  margin: 0;
}

.dashboard-card-materials {
  margin: 10px;
}

.col-engagements {
  padding-top: 5px;
}
