.show-container {
  width: 90%;
  margin: 0 auto;
}

.card-trip-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  display: flex;
}

.card-show-calendar {
  padding: 10px;
}

.card-show-calendar-overview {
  height: 82%;
}

.card-show-booking {
  border-top: 0.5px solid grey;
  height: 18%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  margin-bottom: 0%;
}

.card-show-booking:hover {
  .button_book_show {
    background-color: rgb(182, 182, 182);
    color: white;
    text-decoration: none;
  }
}

.button_book_show {
  font-size: 22px;
  color: rgb(71, 71, 71);
  width: 100%;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgb(85, 85, 85);
  border-radius: 4px;
}

.button_book_delete {
  color: rgb(160, 160, 160);
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(202, 202, 202);
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
  margin-left: 10px;
}

.button_book_delete:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(255, 0, 0, 0.664);
}

.simple-calendar {
  height: 100%;
  background-color: white;
}

.card-trip-show > img {
  height: 100%;
  width: 40%;
  object-fit: cover;
}

.card-trip-show h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-show p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-show-calendar {
  width: 40%;
}

.card-trip-show .card-trip-show-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  width: 30%;
  margin: 8px;
  padding: 8px;
}

.show-material-title {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  h2 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
  }
}

.show-material-owner {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 15px;
}

.show-material-available {
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items:center;
  height: 17%;
  border-top: 0.5px solid grey;
  p {
    font-size: 14px;
  }
}

.show-material-description {
  align-items: center;
  flex-grow: 1;

  p {
    font-size: 12px;
  }
}
