.exterior-container-materials {
  width: 90%;
  margin: 0px auto;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 20px 0px;
}

.card-trip-show {
  margin-bottom: 20px;
}

.card-trip-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
}

.card-trip-outside-frame {
  position: relative;
}

.card-trip-index > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-index a {
  color: rgb(73, 73, 73);
}

.card-trip-index a:hover {
  color: rgb(37, 37, 37);
  text-decoration: none;
}

.card-trip-index p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip-index-infos {
  height: 70px;
}

.card-trip-index .card-trip-index-infos {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-index-infos .card-trip-index-user {
  position: absolute;
  right: 12px;
  top: -20px;
  width: 40px;
}

.button_book {
 color: rgb(160, 160, 160);
 border-style: solid;
 border-width: 0.5px;
 border-color: rgb(202, 202, 202);
 padding: 4px 8px;
 font-size: 12px;
 border-radius: 5px;
}

.button_book:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(107, 107, 107);
}

.card-trip-title-username {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add_material {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.add_material_button {
  color: black;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(202, 202, 202);
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #F4F4F4;
  font-weight: bold;
}

.add_material_button:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(107, 107, 107);
}

.add_material_button_selected {
  color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(202, 202, 202);
  background-color: #FFBE00;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
}

.add_material_button_selected:hover {
  text-decoration: none;
  color: white;
}

@media(max-width: 1200px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 992px) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 600px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}
