.card-trip-outside-frame .badge {
  position: absolute;
  right: 7px;
  top: 7px;
  border-radius: 6px;
}

.available {
  background-color:  green;
  color: white;
  width: 80px;
}

.notavailable {
  background-color:  red;
  color: white;
  width: 80px;
}

.booking {
  background-color: white;
  color: black;
  width: 110px;
}
