p {
  margin-top: 0;
  margin-bottom: 0rem;
  font-family: 'Baloo 2', sans-serif;
  color: rgb(0, 0, 0);
}

.messages-container {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 20px;
  height: calc(100vh - 50px);

  h1 {
    margin-bottom: 0%;
  }
}

.message-container {
  margin: 10px 0px;
  padding: 3px 20px;
  width: 700px;
  font-size: 12px;
  border-radius: 5px;
  position: relative;
}

.messages{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

#messages {
  overflow-y: scroll;
  height: 75vh;
  padding-right: 15px;
  padding-left: 15px;
}

.triangle-left {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #D3E4CD;
  position: absolute;
  top: 0;
  left: -8px;
}

.triangle-right {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #D3E4CD;
  position: absolute;
  top: 0;
  right: -8px;
}

.message-align-right{
  align-self: flex-end;
  background: #D1E8E4;
  p {
    padding-top: 5px;
  }
}

.message-align-left{
  align-self: flex-start;
  background: #7ee0814d;
}

.span1 {
  font-weight: bold;
}

.span2 {
  font-weight: bold;
}

.date {
  color: #4e4e4e;
  font-size: 10px;
}

.textcontent {
  width: 50%;
}

.box-message  {
  margin-top: 20px;
  position: sticky;
  width: 100%;
  bottom: 0;
  padding: 10px;
  height: 80px;
  border: 1px solid #FFBE00;
  border-radius: 10px;
}

.input-button-align {
  display: flex;
  .form-group {
    width: 100%;
  }
}

.button-send {
  width: 50px;
  height: 50px;
  background: white;
  border: 0px;
  margin-left: 10px;
  border-radius: 50%;
}

.button-send-font {
  font-size: 50px;
  color: rgba(87, 233, 87, 0.582);
}
