p {
  margin-top: 0;
  margin-bottom: 0rem;
  font-family: 'brandon-grotesque', sans-serif;
}
.messages-container {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 20px;
  height: calc(100vh - 50px);
}

.message-container {
  border: 5px solid #067790;
  margin: 10px 0px;
  padding: 5px 20px;
  width: 700px;
  font-size: 12px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.messages{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

#messages {
  overflow: scroll;
  height: 65vh;
}

.message-align-right{
  align-self: flex-end;
  background: #d5f5d5;
}

.message-align-left{
  align-self: flex-start;
  background: #e4e8fb ;
}

.span1 {
  font-weight: bold;
}

.span2 {
  font-weight: bold;
}

.date {
  color: #747474;
  font-size: 10px;
}

.textcontent {
  height: 250px;
}

.box-message  {
  position: sticky;
  width: 100%;
  bottom: 0;
  background-color:#F4F4F4;
}
