<nav class="menu">
  <a href="./" class="menu__item" data-tooltip="Dashboard">
    <i class="material-icons">dashboard</i>
  </a>

  <a href="./" class="menu__item" data-tooltip="Messages">
    <i class="material-icons">message</i>
    <p class="icon_text"> "test"</p>
  </a>

  <a href="./" class="menu__item" data-tooltip="Demands">
    <i class="material-icons">group</i>
  </a>

  <a href="./" class="menu__item" data-tooltip="Materials">
    <i class="material-icons">construction</i>
  </a>

  <a href="./" class="menu__item" data-tooltip="Documents">
    <i class="material-icons">forward_to_inbox</i>
  </a>

</nav>
