<div class='container' data-controller="demands-index">
  <h1 style="text-align:center">Demandes</h1>

  <div class="add_material">
    <div>
      <%= link_to "Demandes", demands_path, class: "add_material_button_selected" %>
      <%= link_to "Mes demandes", demands_users_path, class: "add_material_button" %>
    </div>
  </div>
  <div class="card-demands" data-demands-index-target="list">
    <%= render 'list', demands: @demands %>
  </div>



  <!-- > Modal add demand  <!-->
  <div class='new-demand-container' data-demands-index-target='add'>
    <div class='add-demand-form'>
      <%= render 'demands/new' %>
      <i class="fas fa-times close-add-demand-form" aria-hidden="true" data-action="click->demands-index#closeAddModal"></i>
    </div>
  </div>

  <!-- > Modal show demand  <!-->
  <div class="show-demand-container" data-demands-index-target='show'>
  </div>
</div>
