<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c4.wallpaperflare.com/wallpaper/612/685/115/building-facade-bottom-view-sky-wallpaper-preview.jpg);">
  <div class="container">
    <h1>Welcome to NEIGHBORBOOST!</h1>
    <p>Bim Bam Boost</p>
    <div class="btn btn-flat">

    </div>
  </div>
</div>

<div class="about">
<h2> "Let's recreate meaningful relationships with your neighbors" </h2>
</div>
