<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/891352/screenshots/4490889/media/a8af12d6b44900c8e95582db5c37e510.gif);">
  <div class="container">
    <h1>Welcome to NEIGHBORBOOST!</h1>
    <p>Bim Bam Boost</p>
    <div class="btn btn-flat">

    </div>
  </div>
</div>

<div class="about">
<h2> "Let's recreate meaningful relationships with your neighbors" </h2>
</div>
