.button-booking {
  width: 100%;
  color: rgb(160, 160, 160);
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(202, 202, 202);
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
}

.button-booking:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(200, 200, 200);
}

.button-edit-material {
  color: rgb(160, 160, 160);
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(202, 202, 202);
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
}

.button-edit-material:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(200, 200, 200);
}
