.card-demand {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

.card-demand-half {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

.card-demand img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-demand-half img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-demand h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-demand-half h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-top: 10px;
}

.card-demand p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-demand-paragraph {
  flex-grow: 1;
}

.card-demand-half p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-half-paragraph {
  flex-grow: 1;
}

.card-demand .card-demand-infos {
  padding: 8px;
  padding-bottom: 0px;
  height: 100%;
}

.card-demand-half .card-demand-half-infos {
  padding-left: 12px;
  padding-right: 40px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  height: 150px;
  text-align: justify;
}

.card-more-info {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gray;

  &:hover {
    color: green;
    cursor: pointer;
  }
}

.card-info {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gray;
}

.card-demand-not-available {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}

.card-demand-accepted {
  position: absolute;
  top: 10px;
  right: 10px;
  color: orange;
}

.card-demand-accepted:hover {
  color: rgb(244, 178, 52);
  cursor: pointer;
}

.card-more-info-size {
  font-size: 24px;
}

.card-demand-add-btn {
  font-size: 30px;
}

.show-demand-owner {
  display: flex;
}
