*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-demand {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px;
  align-items: center;
  border-radius: .8rem;
  max-width: 58rem;
}

.card-demand img {
  min-width: 22rem;
  max-width: 22rem;
  height: 35rem;
  width: 120px;
  transform: translateX(-2rem);
  position: relative;
  object-fit: cover;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  object-fit: cover;
  display: block;
}

.card-demand img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  padding: 10px;
}

.line {
  width: 80%;
  margin-left: 10%;
  background-color: #42414e;
  opacity: .2;
}

.card-demand h2 {
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-demand p {
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-demand .card-demand-infos {
  padding: 16px;
}

.card-more-info {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gray;

  &:hover {
    color: green;
    cursor: pointer;
  }
}

.card-info {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gray;
}

.card-demand-not-available {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}

.card-demand-accepted {
  position: absolute;
  top: 10px;
  right: 10px;
  color: orange;
}

.card-demand-accepted:hover {
  color: rgb(244, 178, 52);
  cursor: pointer;
}

.card-more-info-size {
  font-size: 24px;
}

.card-demand-add-btn {
  font-size: 30px;
}
