*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-demand {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px;
  align-items: center;
  border-radius: .8rem;
  max-width: 58rem;
}

.card-demand-half {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px 5px;
  border-radius: .8rem;
}

.card-demand img {
  max-width: 22rem;
  width: 120px;
  position: relative;
  object-fit: cover;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.card-demand  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: center;
}


.card-demand-half > img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-demand h2 {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-demand-half h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-top: 10px;
}

.card-demand-paragraph {
  flex-grow: 1;
  padding: 20px 50px 0px 20px;

}

.card-demand-half p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-half-paragraph {
  flex-grow: 1;
}

.card-demand .card-demand-infos {
  padding: 8px;
  padding-bottom: 0px;
  height: 100%;
}

.card-demand-half .card-demand-half-infos {
  padding-left: 12px;
  padding-right: 40px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  height: 150px;
  text-align: justify;
  p {
    font-size: 14px;
  }
}

.card-more-info {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gray;

  &:hover {
    color: green;
    cursor: pointer;
  }
}

.card-info {
  position: absolute;
  top: 10px;
  right: 10px;
  color: gray;
}

.card-demand-not-available {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}

.card-demand-accepted {
  position: absolute;
  top: 10px;
  right: 10px;
  color: orange;
}

.card-demand-accepted:hover {
  color: rgb(244, 178, 52);
  cursor: pointer;
}

.card-more-info-size {
  font-size: 24px;
}

.card-demand-add-btn {
  font-size: 30px;
}

.show-demand-owner {
  display: flex;
  padding-left: 20px;
  padding-top: 60px;
}
