.simple_form label{
	width:100%;
	color:#fff;
	display:block;
}

.simple_form .btn{
	text-transform:uppercase;
}

.form-form .group .input,
.simple_form .form-control.string,
.simple_form .form-control.text,
.simple_form .form-control.date {
	border:none;
	border-radius:25px;
	background:rgba(172, 172, 172, 0.1);
  	width:100%;
	color:rgb(255, 255, 255);
	display:block;
}

.simple_form .textcontent {
  color: black !important;
}

.simple_form .btn
{
	width:100%;
	background:#00A6B4;
	border:none;
	padding:15px 20px;
	border-radius:25px;
	color: white;
	top:20px;
}

.simple_form .form-control-file {
	color:rgb(255, 255, 255);
	border-radius:25px;
}