html {
  margin-left: 75px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  height: 100%;
  background:#00A6B4;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 1;
}

.menu__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  text-decoration: none;
  color: #666666;
  transition: background-color  1s;

}

focus:focus {
  color: red;
}

.menu__item_first {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #666666;
  transition: background-color  1s;
}

.menu__item:hover {
  background-color: #FFBE00;
  text-decoration: none;
  color: black;
}

.menu__item > i {
  font-size: 2.2em;
}

.material-icons {
  text-decoration: none;
}

.icon_text {
  display: none;
  }

.icon_text:hover {
  color: black;
  display: block;
  }

.menu__item::after {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  content: attr(data-tooltip);
  margin-left: 15px;
  padding: 7px 12px;
  font-size: 0,9em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: 0,3s;
}

.menu__item:hover:after {
  opacity: 1;
  visibility: visible;
}

.logo {
  width: 150px;
  height: 100px;
}

.avatar_picture {
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  flex-grow: 1;
  align-items: flex-end;
  margin-bottom: 20px;
}

.menu_login {
  color: #00A6B4;
  background-color: white;
  padding: 6px 8px;
  border-radius: 6px;
}

.menu_login:hover {
  text-decoration: none;
  color: #666666;
}
