.new-demand-container {
    display: none;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
    

    .add-demand-form {
      display: flex;
      flex-direction: column;
      position: relative;
      align-self: center;
      width: 50%;
      //height: 60%;
      padding: 20px 60px;
      background:rgb(77, 77, 77);
      border-radius: 10px;
   

      h2 {
        color: gray;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

  .close-add-demand-form {
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 10px;
    color: rgb(255, 255, 255);
  }

  .close-add-demand-form:hover {
    color: rgb(185, 184, 184);
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}