

<h2 class="title" style="color:white;">Let's Edit your Object</h2>

<div class="group">
    <div class="label">
        <%= simple_form_for @material,html: { data: { demands_index_target: 'form_edit_mat' }} do |f|%>
            <%= f.input :title, label:"Titre" %>
            <%= f.input :description, as: :text %>
            <%= f.button :submit, "Editez" %>
        <% end %>
    </div>
</div>
