<div class="login-wrap">
  <div class="login-html">
    <div class="login-form">
      <h2 style="color:white;">Let's Edit your Object</h2>
        <div class="group">
            <div class="label">
                <%= simple_form_for @material do |f|%>
                    <%= f.input :title %>
                    <%= f.input :description %>
                    <%= f.submit "SAVE YOUR CHANGES", class:"input" %>
                <% end %>
            </div>
        </div>
    </div>
  </div>
</div>  